:root {
  --black: #222426;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: macha, sans-serif;
  font-weight: 400;
  color: var(--black);
  font-size: 1rem;
  background: white;
  line-height: 1.5;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
button{
  font: inherit;
}
form,
input {
  font-family: inherit;
}
h1,
h2,
h3 {
  font-family: geller-headline, serif;
}
h1 {
  font-size: 2.5rem;
  font-size: clamp(2.375rem, 1.2526rem + 3.5915vw, 5.5625rem);
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.3838rem + 1.9718vw, 3.75rem);
  line-height: 1.45;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.6919rem + 0.9859vw, 2.875rem);
  line-height: 1.25;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: clamp(1.125rem, 1.081rem + 0.1408vw, 1.25rem);
  margin: 1em 0;
}
p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.956rem + 0.1408vw, 1.125rem);
  line-height: 1.5625;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

button:hover,
button:focus {
  outline: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
.mr-auto{
  margin-right: auto !important;
}
.italic{
  font-style: italic;
}
.btn {
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  padding: 10px 18px;
  padding: 15px 30px 19px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
  min-width: fit-content;
  white-space: nowrap;
  letter-spacing: -0.3px;
  cursor: pointer;
}

.btn--outline {
  border: 2px solid var(--black);
  background-color: transparent;
}
.btn--outline:hover {
  background-color: var(--black);
  color: white;
}

.btn--light {
  color: white;
  border-color: white;
}
.btn--white {
  background-color: white;
  color: var(--black);
}
.btn--white:hover {
  color: white;
  background-color: var(--black);
}

.btn--light:hover {
  background-color: white;
  color: var(--black);
}
.btn--dark {
  background-color: var(--black);
  color: white;
}
.btn--dark:hover {
  background-color: #1d1e28;
}
.btn--green {
  color: white;
  background-color: #5ed28a;
}
.btn--green:hover {
  background-color: #51c17b;
}
.btn--lg {
  width: 100%;
  max-width: 315px;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0 30px;
}

.subhead {
  font-size: 18px;
  text-align: center;
  max-width: 500px;
  margin: 1rem auto;
}
.row {
  display: flex;
}
.col {
  flex-basis: 100%;
}
.col-3 {
  flex-basis: 25%;
}

.col-6 {
  flex-basis: 50%;
}
.col-9 {
  flex-basis: 75%;
}

/* || Navbar styles*/
header {
  top: 0;
  position: sticky;
  height: 59px;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
}
.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 16px 0;
}
.nav__logo {
  font-family: geller-headline, serif;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.547rem + 1.8497vw, 2.125rem);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.nav__menu--head .nav__logo {
  font-size: 26px;
  padding-bottom: 18px;
  display: inline-block;
}
.footer-logo .nav__logo {
  font-size: 1.875rem;
  line-height: 1;
}
.nav-cta {
  margin-left: auto;
}
.nav-item.nav-cta {
  padding-top: 30px;
  margin-top: 15px;
  margin-bottom: 0;
}
.tel-link{
  font-weight: 400;
}
.tel-link span{
  text-decoration: underline;
  font-weight: 500;
}
.nav-cta .btn {
  font-size: 14px;
  padding: 10px 18px;
}
.hamburger {
  display: block;
  cursor: pointer;
  z-index: 3;
  margin-right: 16px;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
}
.bar {
  display: block;
  width: 12px;
  height: 1.5px;
  background-color: #2d2e3a;
  border-radius: 1px;
  margin-bottom: 3px;
}
.bar--1 {
  width: 9px;
  margin-bottom: 0;
}
.hamburger.active {
  visibility: hidden;
}
.nav__menu--head {
  display: none;
  text-align: left;
}
.active .nav__menu--head {
  display: block;
  position: absolute;
  left: 0;
  top: 33px;
  right: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(112,112,112,0.2);
  margin-right: 40px;
  margin-left: 40px;

}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding-top: 126px;
  padding-bottom: 84px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 96%;
  width: calc(100% - 30px);
  max-width: 310px;
  min-height: 100vh;
  min-height: 100dvh;
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  background-color: white;
  text-align: center;
  transition: left 0.3s ease-out;
  box-shadow: 30px 0px 60px rgba(0, 0, 0, 0.05);
  z-index: 2;
}
.nav-list{
  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  margin-top: 19px;
}
.nav-list::-webkit-scrollbar {
  display: none;
}
.nav-menu.active {
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 0px 38px;
}
.nav-menu-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(44,45,57,0.7);
  min-height: 100vh;
  min-height: 100lvh;
  display: none;
  transition: all 0.3s;
}
.nav-item {
margin: 0;
  text-align: left;
}
@media(max-width:768px){
  .mobile-hidden{
    display: none;
  }
}
@media(min-width:768px){
  .desktop-hidden{
    display: none;
  }
}



.nav-item--btn {
  margin-top: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 14px 15px 13px;
  display: inline-block;
}
.nav-item--hr::before {
  content: '';
  display: block;
  position: relative;
  border-top: 1px solid #e3e4ef;
  margin: 10px 0 20px;
}
.dropdown {
  margin-bottom: 0;
  margin-top: 40px;
}
.dropdown-btn {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 12px;
  display: block;
  background-color: #F5F6F7;
  border-radius: 10px;
  outline: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.dropdown-btn.active{
  background-color: #ECEFEC;

}
.dropdown-content{
  display: none;
}
.dropdown-btn.active + .dropdown-content{
  display: block;
}
.dropdown-btn::after{
  content: url(../images/dropdown-btn.svg);
  margin-left: 10px;
  position: relative;
  top: 0;
  right: 10px;
  float: right;
  rotate:-270deg;
}
.dropdown-btn.active:after{
  rotate: none;
  top: -2px;
  transform-origin: 0;
}

.dropdown-content-col{
  font-size: 0.8125rem;
  margin-top:30px ;
  padding-right: 30px;
}
.dropdown-content > p{
  font-size: 0.875rem;
  padding: 15px;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
}
.dropdown-content h4{
  font-size: 0.8125rem;
  padding: 15px;
  padding-bottom: 6px;
  margin-top: 0;
  padding-top: 0;
}
.dropdown-content-list{
  list-style-type: disc;
  padding-left: 12px;
  margin-left: 15px;
}

.dropdown-content-list li {
  padding-left: 4px;
  line-height: 20px;
  margin-bottom: 12px;
}
.dropdown-content-list li a:hover{
  text-decoration: underline;
}
.dropdown-content-list li:last-child{
  margin-bottom: 0;
}
.dropdown-cta{
  font-size: 0.8125rem;
  padding: 12px 30px 13px;
  margin-top: 30px;
}


/* ======== Footer ======== */
.footer {
  margin-top: 100px;
  text-align: center;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-list {
  min-width: 275px;
  margin-top: 68px;
}
.footer-list:first-child {
  margin-top: 57px;
}

.footer-list__link {
  font-size: 14px;
  line-height: 2;
  margin: 4px 0;
}
.footer-list__title {
  font-family: 'macha', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 32px;
}
.footer-list__address {
  margin-bottom: 32px;
  margin: 26px 0 46px;
}
/* Footer bottom bar */
.footer-bar {
  background-color: #fcfcfc;
  padding: 80px 0 70px;
  margin-top: 90px;
  text-align: center;
  font-size: 12px;
}
.footer-bar__social {
  margin-bottom: 53px;
}

.footer-bar__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 73px;
}

@media (min-width: 768px) {
  .btn {
    padding: 21px 42px 23px;
    font-size: 1rem;
  }
  .btn--lg {
    width: auto;
  }

  /* -- Navigation -- */
  header {
    height: 100px;
  }
  .navbar {
    padding: 40px 0;
    height: 100px;
    padding: 0;
  }
  .hamburger {
    display: none;
  }
  .nav__logo {
    margin-top: -5px;
    margin-left: 0;
  }
  .nav-cta .btn {
    font-size: 15px;
    padding: 13px 20px 12px;
  }
  .nav-list{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    margin-top: 0;
  }
  .nav-menu-backdrop{
    display: none !important;
  }
  .nav-menu .nav__menu--head {
    display: none;
  }
  .nav-item--hr::before {
    display: none;
  }
  .nav-item {
    margin: 0 15px;
  }
  .nav-item.nav-cta {
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
  }
  .nav-item.bdr-left{
    position: relative;
  }
  .nav-item.bdr-left::before{
    content: "";
    width: 1px;
    height: 20px;
    position: relative;
    left: -31px;
    display: inline-block;
    border-left: 1px solid rgba(112,112,112,0.2);
    vertical-align: middle;
    top: -1px;
    margin-left: 30px;
  }
  .nav-item--btn {
    margin-top: 0;
    margin-right: 0;
  }
  .nav-menu {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 0;
    min-height: auto;
    position: static;
    box-shadow: none;
  }
  .nav-menu.active{
    box-shadow: none;
  }
  .nav-link {
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
  }

  .dropdown-btn {
    margin-bottom: 0;
  }
  .dropdown-btn.active{
    font-weight: 700;
  }
  .dropdown-btn,.dropdown-btn.active{
    background-color: transparent;
  }
  .dropdown-btn::after {
    display: none;
  }
  /* .dropdown:hover .dropdown-content,
  .dropdown:focus-visible .dropdown-content {
    display: block;
    opacity: 1;
  } */
  .dropdown-content {
    min-width: 261px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    z-index: 2;
    transition: all 0.3s ease-out;
    display: none;
  }
  .dropdown-content{
    top: 90px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    box-shadow: 0 30px 30px rgba(3,27,52,0.04);
    border-top: 1px solid rgba(112,112,112,0.2);
  }
  /* .dropdown-btn.active + .dropdown-content{
    display: flex;
  } */
  .dropdown-content-wrapper{
    display: flex;
    max-width: 1232px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .dd-col1{
    max-width: 270px;
  }

  .dropdown-cta{
    padding: 12px 30px 13px;
  }
  .dropdown-content h4{
    font-size: 18px;
  }
  .dropdown-content-col{
    font-size: 15px;
  }

  .dropdown-content li {
    margin-left: -10px;
    margin-right: -10px;
    line-height: 1.5;
  }

  /* ======== Footer ======= */
  .footer {
    margin-top: 126px;
    text-align: left;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
  }
  .footer-list {
    flex-basis: 20%;
    min-width: 250px;
  }
  .footer-list:first-child {
    margin-right: 8px;
    margin-bottom: 32px;
  }
  .footer-list__title {
    margin-bottom: 40px;
  }
  /* Footer bar */
  .footer-bar {
    margin-top: 121px;
    padding: 57px 0 52px;
  }
  .footer-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bar-wrapper > div {
    flex: 1;
  }
  .footer-bar__links {
    flex-direction: row;
    margin-bottom: 0;
  }
  .footer-bar__social {
    margin-bottom: 0;
  }
  .footer-bar__copyright {
    order: -1;
  }
  .sitemap__link::before {
    content: '';
    position: relative;
    left: -12px;
    width: 1px;
    height: 100%;
    border-left: 1px solid gray;
  }
}
