/* ========== Hero Section ========= */
.hero {
  background-color: #f8f8f8;
  overflow: hidden;
  padding-bottom: 30px;
}
.hero-content {
  padding-top: 50px;
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}
.hero__heading {
  font-size: clamp(2.375rem, 1.2526rem + 3.5915vw, 5.5625rem);
  font-size: clamp(2.5rem, 1.8838rem + 1.9718vw, 4.25rem);
  margin-top: 14px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  max-width: 17ch;
}
.hero__text {
  font-size: clamp(1.0625rem, 0.9525rem + 0.3521vw, 1.375rem);
  margin: 1.35em 0 2em;
  margin: 26px 0 38px;
  max-width: 38ch;
}

.hero__image {
  padding-top: 60px;
  text-align: center;
}
.hero__cta--lg {
  display: none;
}
/* ========== Clients ======= */
.clients {
  text-align: center;
  margin-top: 65px;
  margin: 65px -15px 0;
  display: none;
}

.swiper {
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  height: auto;
  position: relative;
  padding: 16px 0;
}
.swiper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(90deg, #f8f8f8 0%, #f8f8f800 21%, #f8f8f800 81%, #f8f8f8 100%) 0% 0% no-repeat padding-box;
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  width: auto;
  user-select: none;
  padding: 0 15px;
}
.swiper-slide:first-child {
  padding-left: 15px;
}

.swiper-slide:last-child {
  padding-right: 15px;
}

.swiper-slide img {
  user-select: none;
  height: 40px;
  width: auto;
}
/* ============ Article ========= */
.container-sm {
  max-width: 820px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.article {
  /* max-width: 820px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto; */
}
.article-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.text-silver {
  color: #84898e;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.article-author {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-top: 40px;
}
.author-avatar {
  margin-right: 20px;
}

.fs-15 {
  font-size: 15px;
}

.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}
.flex {
  display: flex;
}
.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
  max-width: 375px;
}
.article-reviewer {
  margin-right: 50px;
}
.reviewer__text {
  margin-left: 10px;
}
.article-section {
  margin-top: 50px;
}
.article__headline {
  font-size: clamp(1.875rem, 1.743rem + 0.4225vw, 2.25rem);
  line-height: 1.2;
}
.article p {
  font-size: clamp(1rem, 0.7668rem + 0.7463vw, 1.125rem);
  line-height: 1.6;
  font-weight: 400;
}

p.article__tagline {
  font-style: italic;
  font-size: clamp(1.25rem, 1.0168rem + 0.7463vw, 1.375rem);
  margin: 0;
  margin-bottom: 20px;
  margin-top: 4px;
}
.article-cards {
  margin-top: 50px;
}
.article-card {
  border: 2px solid var(--black);
  margin-bottom: 30px;
  padding: 30px 24px;
}
.article-card h4 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.125rem;
}
.article-card p {
  margin-top: 8px;
  font-size: 1rem;
}
.article ol {
  list-style-type: decimal;
  padding-left: 16px;
  list-style-position: outside;
}
.article li {
  font-weight: bold;
  padding-left: 15px;
}
.article-banner {
  text-align: center;
  padding: 60px;
  margin-top: 60px;
  background-color: #f8f8f8;
}
.article-banner--green {
  background-color: #dbe3de;
}
.article-banner h3 {
  font-size: 1.875rem;
}
.article__cta {
  padding: 12px 40px 14px;
  margin-top: 20px;
}
.leading__para {
  border: 1px solid #dce3de;
  padding: 40px 0;
  border-width: 1px 0;
}
.leading__head {
  border: 1px solid #dce3de;
  padding: 40px 0;
  border-width: 1px 0;
  font-size: 1.75rem;
}
.article-ulist {
}
.article-ulist li {
  padding-left: 30px;
  border-left: 1.5px solid var(--black);
}

/* =========== Works ========= */
.works {
  margin-top: 110px;
  padding-top: 80px;
  text-align: center;
  background-color: #f8f8f8;
}
.works__subtitle {
  margin-top: 1em;
  font-size: 1.125rem;
}
.works-cards {
  margin-top: 66px;
}
.works-card {
  max-width: 292px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}
.works-card-image {
  padding: 55px 38px;
  min-height: 363px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-card__title {
  font-family: geller-headline, serif;
  font-size: 1.625rem;
  margin: 25px 0 25px;
}
.works-card p {
  font-size: 1.125rem;
  line-height: 1.67;
}

/* ========== FAQs ========= */
.faqs {
  margin-top: 120px;
}

.faqs__heading {
  margin-bottom: 60px;
  text-align: left;
}

.faqs-content {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.faqs__item {
  border: 1px solid rgba(112 112 112 / 20%);
  padding: 30px 0;
  padding-left: 30px;
  border-width: 1px 0 0;
}
.faqs__item:last-child {
  border-bottom-width: 1px;
}

.accordion {
  font-family: geller-headline, serif;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.625rem;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.059rem + 0.2113vw, 1.3125rem);
  transition: 0.4s;
  position: relative;
  padding: 0;
  padding-left: 0;
}
.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.panel p {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.5625;
}
.accordion::before {
  content: url(../images/arrow-head-down.svg);
  color: #777;
  font-weight: bold;
  position: absolute;
  top: -3px;
  left: -30px;
}
.accordion.active::before {
  content: url(../images/arrow-head-up.svg);
  position: absolute;
  right: 0;
}
.faqs-image {
  margin-top: 75px;
}
/* ========== Secure ======== */
.secure {
  color: white;
  background-color: var(--black);
  text-align: center;
  padding: 90px 0;
  margin-top: 120px;
}
.secure h2 {
  font-size: 3rem;
  line-height: 58px;
  font-weight: 500;
  margin-bottom: 60px;
}

/* ========== Responsive ========= */

@media (min-width: 768px) {
  /* ======= Hero =======*/
  .hero-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-top: 80px;
    padding-bottom: 18px;
  }

  .hero-content {
    flex-basis: 48%;
    max-width: 50%;
    margin-left: 0;
    margin-right: auto;
    flex-shrink: 0;
    padding: 44px 0 25px;
  }
  .hero__heading {
    line-height: 1.123;
    margin-top: 0;
    letter-spacing: -1px;
  }
  .hero__text {
    margin: 24px 0 50px;
    letter-spacing: -0.4px;
  }
  .hero__image {
    flex-basis: 40%;
    margin: 0;
    padding-top: 0;
  }
  .hero__cta--lg {
    display: inline-block;
  }

  .hero__cta--sm {
    display: none;
  }

  /* ========== Clients ======= */
  .clients {
    margin: 78px 0 0;
    text-align: left;
    display: block;
  }
  .clients p {
    margin-bottom: 6px;
  }
  /* ============ Article ========= */
  .article {
    padding-top: 20px;
  }
  .article-cards {
    display: flex;
    justify-content: space-between;
  }
  .article-card {
    flex-basis: 32%;
  }

  /*========== Works ======== */
  /* .works {
    margin-top: 128px;
  } */
  .works__subtitle {
    font-size: 1.4375rem;
  }
  .works-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 68px;
  }
  .works-card {
    margin: 4px;
  }
  .works-card__title {
    max-width: 14ch;
  }

  /* ========== FAQs ========= */
  .faqs {
    margin-top: 60px;
  }
  .faqs-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .faqs-content {
  }

  .faqs-image {
    order: -1;
    margin-left: -30px;
    margin-top: 0;
  }
  /* ========== Secure ======== */
  .secure {
    margin-top: 180px;
    padding: 118px 0 125px;
  }
  .secure-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .secure h2 {
    margin-bottom: 0;
  }
}
