html {
  overflow: visible;
}
body {
  overflow: auto;
}
.modal-open {
  overflow: hidden;
}
/* ========== Hero Section ========= */
.hero {
  background-color: #F8F8F8;
  overflow: hidden;
}
.hero-content {
  padding-top: 50px;
  max-width: 315px;
  margin-left: auto;
  margin-right: auto;
}
.hero__heading {
  font-size: 2.45rem;
  margin-top: 10px;
  line-height: 1.25;
  max-width: 17ch;
}
.hero__text {
  font-size: clamp(1.0625rem, 1.0185rem + 0.1408vw, 1.1875rem);
  line-height: 1.47;
  margin: 1.35em 0 2em;
  margin: 26px 0 39px;
  max-width: 45ch;
}
.hero__cta{
  padding-left: 16px;
  padding-right: 16px;
  min-width: 208px;
  margin-bottom: 10px;
}

.hero__image {
  margin: 0 -30px;
  padding-top: 60px;
  text-align: center;
}
.insurers p{
  font-size: 0.875rem;
  font-style: italic;
  margin-top: 30px;
  text-align: center;
}
.insurers-swiper{
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 16px;
  margin-top: 30px;
}
.insurers-swiper .swiper-slide{
  width: auto;
  padding-right: 20px;
}
.insurers-swiper .swiper-slide:last-child{
  padding-right: 0;
}
/* ========== Featured ======= */
.featured{
  margin-top: 40px;
}
.featured p{
  font-size: 1rem;
  text-align: center;
}
.featured-swiper{
  margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 16px;
    margin-top: 24px;
}
.featured-swiper .swiper-slide{
  width: auto;
  padding-right: 30px;
}
.featured-swiper .swiper-slide:last-child{
  padding-right: 0;
}
@media(min-width:700px){
.featured-list{
  justify-content: center;
}
}

/* =========== Annuities ========= */
.annuities{
  margin-top: 70px;
}
.annuities h2{
  font-size: clamp(2rem, 1.6919rem + 0.9859vw, 2.875rem);
}
.annuities__subtitle{
  margin-top: 20px;
}
.annuity-cards{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.annuity-card{
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 60px 40px 52px;
}
.annuity-card-title{
  display: flex;
  justify-content: space-between;
}
.annuity-card-icon{
  display: inline-block;
  margin-top: -4px;
  flex-shrink: 0;
}
.annuity-card-subtitle{
  font-style: italic;
  margin-top: 32px;
}
.annuity-list{
  list-style-type: disc;
  padding-left: 16px;
  border-top: 1px solid rgba(112 112 112 / 20%);
  padding-top: 6px;
  margin-top: 44px;
}
.annuity-list li{
  margin-top: 36px;
}
.annuity-list p{
  margin-top: 10px;
  margin-bottom: 0;
}
.annuities__cta{
  margin-top: 40px;
  text-align: center;
}

/* ========== Benefits =========== */
.benefits{
  margin-top: 80px;
}
.benefits__title{
  text-align: center;
  font-size: clamp(2rem, 1.6919rem + 0.9859vw, 2.875rem);
  margin-right: -4px;
  margin-left: -4px;
}
.benefits__subtitle{
  margin-top: 20px;
  text-align: center;
}
.benefit-cards{
  margin-top: 54px;
}
.benefit-card{
  text-align: center;
  margin-top: 40px;
}
.benefit-card__title{
  margin-top: 20px;
  margin-bottom: 14px;
}
.benefit-card__text{
  font-size: 1rem;
  margin-top: 15px;
}
.benefit-image{
  display: none;
}
.benefit-cta{
  margin-top: 64px;
  text-align: center;
}

/* ========== Clients ======= */
.clients {
  margin-top: 40px;
  overflow: hidden;
}

.clients-logos {
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  height: auto;
  position: relative;
  padding: 16px 0;
  pointer-events: none;
}
.clients-logos::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(90deg, #ffffff 0%, #ffffff00 21%, #ffffff00 81%, #ffffff 100%) 0% 0% no-repeat padding-box;
  z-index: 2;
  pointer-events: none;
}

.clients-logos-wrapper {
  align-items: center;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.client__logo {
  width: auto;
  padding: 0 20px;
}

.client__logo img {
  user-select: none;
  height: 40px;
  width: auto;
}

/* =========== Trust ========== */
.trust {
  margin-top: 52px;
  text-align: center;
}

.trust h4 {
  margin: 2em 0 0;
}
.trust p {
  line-height: 1.67;
  margin-top: 10px;
}
.trust-image {
  padding-top: 62px;
  margin-top: 62px;
  position: relative;
  background-color: #f8f8f8;
}
.trust-image img {
  margin-left: -15px;
  margin-right: 0px;
}
.trust-image__title {
  font-size: 0.9375rem;
  position: absolute;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 1em 0;
  bottom: -15px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(28, 36, 43, 6%);
  border-radius: 8px;
  text-align: center;
}

/* =========== Works ========= */
.works {
  margin-top: 128px;
  text-align: center;
}
.works__subtitle {
  margin-top: 1em;
  font-size: 1.125rem;
}
.works-cards {
  margin-top: 66px;
}
.works-card {
  max-width: 292px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}
.works-card-image {
  padding: 55px 38px;
  min-height: 363px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-card__title {
  font-family: geller-headline, serif;
  font-size: 1.625rem;
  margin: 25px 0 25px;
}
.works-card p {
  font-size: 1.125rem;
  line-height: 1.67;
}
/* ========= Neutral ========  */
.neutral {
  color: white;
  text-align: center;
  background-color: var(--black);
  margin-top: 124px;
  padding: 90px 0px;
  margin-top: 116px;
}
.neutral__tagline {
  font-size: clamp(1.375rem, 1.243rem + 0.4225vw, 1.75rem);
  margin-top: 0;
}
.neutral__text {
  font-family: 'geller-headline', serif;
  font-size: clamp(1.5625rem, 0.7923rem + 2.4648vw, 3.75rem);
  font-weight: 500;
  margin: 50px 0 62px;
}

/* ========= Testimonial ========== */
.testimonial {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #FCFCFC;
}
.testimonial__headline {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}
.testm-swiper{
  margin-top: 50px;
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
}
.testm-cards {
  margin-top: 64px;
  box-sizing: border-box;
}
.testm-card {
  margin-top: 10px;
  padding-left: 35px;
  border-radius: 4px;
  position: relative;
}
.testm-card::before {
  content: '';
  width: 52px;
  height: 35px;
  background-image: url(../images/quote-br-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
}
.testm-card::before {
  top: -10px;
  right: 0;
}

.testm-card-body{
  position: relative;
}
.testm-card-body::before{
  content: "";
  width: 5px;
  height: 100%;
  background-color: #DBE3DE;
  border-radius: 10px;
  position: absolute;
  left: -35px;
}
.testm__title {
  font-size: 1.25rem;
}
.testm__text {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.55;
  letter-spacing: 0.15px;
  margin: 24px 0 30px;
}
.testm__cite {
  font-weight: bold;
  letter-spacing: -0.2px;
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.18;
}
.testm__cite::before {
  content: '— ';
}

/* ========== Insurance ====== */
.insur {
  margin-top: 60px;
  text-align: center;
}
.insur-cards {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.insur-card {
  max-width: 315px;
  margin-top: 62px;
}
.insur-card h4 {
  margin: 20px 0 14px;
}
.insur-card p {
  margin-bottom: 19px;
}
.insur-card a {
  color: #33b564;
  text-decoration: underline;
}

/* ========== FAQs ========= */
.faqs {
  /* padding: 26px 0 100px; */
  margin-top: 120px;
}

.faqs__heading {
  margin-bottom: 60px;
  text-align: center;
}

.faqs-content {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.faqs__item {
  border: 1px solid rgba(112 112 112 / 20%);
  padding: 30px 0;
  padding-left: 30px;
  border-width: 1px 0 0;
}
.faqs__item:last-child {
  border-bottom-width: 1px;
}

.accordion {
  font-family: geller-headline, serif;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.625rem;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.059rem + 0.2113vw, 1.3125rem);
  transition: 0.4s;
  position: relative;
  padding: 0;
  padding-left: 0;
}
.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.panel p {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.5625;
}
.accordion::before {
  content: url(../images/arrow-head-down.svg);
  color: #777;
  font-weight: bold;
  position: absolute;
  top: -3px;
  left: -30px;
}
.accordion.active::before {
  content: url(../images/arrow-head-up.svg);
  position: absolute;
  right: 0;
}
.faqs-image {
  margin-top: 75px;
}
/* ========== Secure ======== */
.secure {
  color: white;
  background-color: var(--black);
  text-align: center;
  padding: 90px 0;
  margin-top: 120px;
}
.secure h2 {
  font-size: 3rem;
  line-height: 58px;
  font-weight: 500;
  margin-bottom: 60px;
}
.secure .btn{
  min-width: 206px;
}

/* ===== Modal ======= */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  will-change: transform, opacity;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.modal.visible {
  background: rgba(34, 36, 38, 0.9);
  pointer-events: auto;
  z-index: 3;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.modal-body {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-45%);
  padding-top: 30px;
}

.quote-cards {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  padding-bottom: 20px;
}
.quote-card {
  width: auto;
  max-width: 283px;
  background-color: white;
  padding: 68px 36px 50px;
  margin: 0 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.quote-card:first-child {
  margin-left: 30px;
}
.quote-card:last-child {
  margin-right: 30px;
}
.quote-card__icon {
  border-radius: 12px;
  margin-bottom: 40px;
}
.quote-card__heading {
  font-size: 1.25rem;
}
.quote-card p {
  margin: 20px 0;
  font-size: 13px;
  line-height: 1.77;
}
.quote-card p:last-of-type {
  margin-bottom: 40px;
}
.quote-card .btn {
  font-size: 0.875rem;
  padding-top: 13.3px;
  padding-bottom: 14.7px;
  margin-top: auto;
  padding-left: 26px;
  padding-right: 26px;
}

/* ========== Responsive ========= */

@media (min-width: 768px) {
  /* ======= Hero =======*/
  .hero{
    background-color: #ECEFEC;
  }
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 45px;
  }

  .hero-content {
    flex-basis: 57%;
    flex-shrink: 0;
    padding: 40px 0 80px;
    padding: 103px 0 133px;
    max-width: initial;
  }
  .hero__heading {
    font-size: clamp(2.5rem, 1.4217rem + 3.4507vw, 5.5625rem);
    line-height: 1.123;
    margin-top: 0;
  }
  .hero__text {
    margin: 27px 0 59px;
    letter-spacing: -0.4px;
    line-height: 1.6;
  }
  .hero__cta{
    margin-right: 20px;
  }
  .hero__image {
    flex-basis: 45%;
    flex-grow: 1;
    width: 50%;
    order: 1;
    align-self: flex-end;
    margin: 0;
    padding-top: 0;
  }
  .hero__image img {
    max-width: 135%;
    position: relative;
    right: -38px;
  }
  .insurers p{
    margin-top: 40px;
    text-align: left;
  }
  .insurers-swiper{
    margin-top: 30px;
  }

  /* ========== Featured ======= */
  .featured{
    margin-top: 80px;
  }
  .featured-swiper{
    margin-top: 35px;
  }
  .featured-swiper .swiper-slide{
    padding-right: 40px;
  }
/* =========== Annuities ========= */
  .annuities{
    margin-top: 150px;
  }
  .annuities h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 25ch;
  }
  .annuities__subtitle{
    text-align: center;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .annuity-cards{
    margin-top: 102px;
    gap: 42px;
  }
  .annuity-card{
    flex: 1;
    padding: 80px 50px 62px;
  }
  .annuity-list li{
    margin-top: 40px;
  }
  .annuity-card:last-child .annuity-card-subtitle{
    margin-right: -12px;
  }
  .annuities__cta{
    margin-top: 60px;
    text-align: center;
  }
  .annuities__cta .btn{
    min-width: 250px;
  }
  
  /* ========== Benefits =========== */
  .benefits{
    margin-top: 150px;
  }

  .benefits__title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 25ch;
  }
  .benefits__subtitle{
    text-align: center;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .benefit-content{
    max-width: 450px;
  }
  .benefit-cards{
    margin-top: 24px;
  }
  .benefit-card{
    text-align: left;
    display: flex;
    gap: 30px;
  }
  .benefit-card:first-child{
    margin-top: 0;
  }
  .benefit-card__icon{
    flex-shrink: 0;
  }
  .benefit-card__title{
    margin-top: 0;
    line-height: 1;
  }
  .benefit-card__text{
    margin-bottom: 0;
    line-height: 1.4;
  }
  .benefit-image{
    display: block;
  }
  .benefits-cols{
    display: flex;
    justify-content: space-evenly;
    margin-top: 92px;
  }
  .benefit-cta{
    margin-top: 48px;
    margin-left: 75px;
  }
  .benefit-cta .btn{
    min-width: 230px;
  }
  
  /* ========== Clients ======= */
  .clients {
    margin-top: 104px;
  }

  .clients-logos {
    margin: 0;
  }
  .client__logo {
    padding: 0 30px;
  }

  /* =========== Trust ========== */
  .trust {
    margin-top: 50px;
  }
  .trust-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .trust-content {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    flex-basis: 61%;
    margin-left: auto;
    margin-bottom: 76px;
  }
  .trust-content > * {
    flex-basis: 45%;
    max-width: 300px;
    margin-bottom: 40px;
  }
  .trust h2 {
    line-height: 1.2;
  }
  .trust h4 {
    margin-top: 10px;
  }
  .trust p {
    margin-bottom: 0;
  }
  .trust-image {
    order: -1;
    margin-top: 0;
  }
  .trust-image img {
    max-width: 375px;
    margin-left: 0;
    margin-right: -84px;
  }
  p.trust-image__title {
    font-size: 1rem;
    bottom: -12px;
    margin-left: 6px;
    width: max-content;
    padding-left: 30px;
    padding-right: 30px;
    padding: 18px 40px 18px 21px;
    line-height: 1;
  }
    /*========== Works ======== */

    .works__subtitle {
      font-size: 1.4375rem;
    }
    .works-cards {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
      margin-top: 68px;
    }
    .works-card {
      margin: 4px;
    }
    .works-card__title {
      max-width: 14ch;
    }
  /* ========= Neutral ========  */
  .neutral {
    padding: 150px 0 142px;
    margin-top: 134px;
  }
  .neutral__tagline {
    margin: 0;
  }
  .neutral__text {
    max-width: 42ch;
    margin: 75px auto;
    line-height: 1.2;
  }
  .neutral .btn{
    min-width: 260px;
  }
   /* ========= testimonial ========= */
   .testm-wrapper{
    align-items: flex-start;
    justify-content: space-between;
   }
   .testimonial__headline{
    margin-top: 16px;
   }
   .testimonial {
    padding-top: 144px;
    padding-bottom: 125px;
  }
  .testm-cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .testm-card {
    flex-basis: 40%;
    max-width: 490px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .testm-card::before {
    transform: scale(-1);
    left: -45px
  }
  .testm-card-body::before{
    display: none;
  }
  .testm__text{
    border-left: 5px solid #DBE3DE;
    border-radius: 4px;
    padding-left: 50px;
    margin-left: -55px;
  }

  .testm__cite {
    margin-top: auto;
  }
  /* ========== Insurance ====== */
  .insur {
    margin-top: 120px;
  }

  .insur-cards {
    flex-wrap: nowrap;
    margin-top: 24px;
    gap: 40px;
  }
  .insur-card h4 {
    font-size: 1.1875rem;
  }

  /* ========== FAQs ========= */
  .faqs {
    margin-top: 180px;
  }
  .faqs-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .faqs-content {
    max-width: 636px;
    margin: 0;
    padding-top: 90px;
  }
  .faqs__heading {
    text-align: left;
  }
  .faqs-image {
    order: -1;
    margin-left: -30px;
    margin-top: 0;
  }
  /* ========== Secure ======== */
  .secure {
    margin-top: 180px;
    padding: 118px 0 125px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .secure-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .secure h2 {
    margin-bottom: 0;
  }
  /* ======= Modal ======= */
  .modal {
    align-items: center;
    overflow-y: auto;
  }
  .modal-body {
    padding: 30px;
    border-radius: 15px;
  }
  .quote-cards {
    display: flex;
    justify-content: center;
  }
  .quote-card {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
    max-width: 300px;
  }
  .quote-card__heading {
    margin-left: -9px;
    margin-right: -9px;
  }
}

@media (min-width:1024px){
  .testm-wrapper{
    display: flex;
    justify-content: space-evenly;
  }
  .testimonial__headline{
    text-align: left;
  }
  .testm-swiper{
    margin-top: 0;
    padding: 0 0 0 26px;
  }
  .testimonial__headline{
    max-width: 250px;
  }
  .testm-card{
    max-width: 322px;
  }
  .testm-card:last-child{
    margin-right: 0 !important;
  }
}